<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="topInfo">
    <% if current_user %>
    Signed in as First name : <span class="attr"><%= current_user.firstName %></span> Last Name : <span class="attr"><%= current_user.lastName %></span> |
      <% if current_user.admin %>
        ADMIN USER | 
      <% end %>
       <%= link_to "Logout", '/logout' %>
    <% else %>
    <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
    <% end %>
  </div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
